*~
.generators
.rakeTasks
.rake_tasks~
vendor/plugins/footnotes
coverage/*
reports/*
public/system/*
public/javascripts/*/locale.js
log
index
db/schema.rb
config/database.yml
config/tmp
tmp/*
translations/*.xml
translations/*/*.xml
translations/*.yml
translations/*/*.yml
quotes/*
.svn
.idea
*.tmproj
.DS_Store
.sass-cache*
*.swp
*._*
.apdisk
*~
.rvmrc
.vagrant
Vagrantfile
.project

# --- Vendor native extension building stuff ---
Makefile
*.bundle
*.o
mkmf.log
*_structure.sql
bin
dump.rdb
*.sublime-project
*.sublime-workspace
*.rdb
logfile
